<h1 class="title has-text-white">Did you forget your password?</h1>
<h1 class="has-text-white">Well too bad, because we havent added that functionality</h1>
<form [formGroup]="resetForm">
    <div class="field">
      <p class="control has-icons-left">
        <input
          class="input is-rounded is-dark is-large input-field-background"
          type="email"
          formControlName="email"
          placeholder="Email"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </p>
    </div>
    <button
      type="submit"
      class="login-button button is-primary is-medium is-half is-rounded is-large"
      (click)="send_reset_email(resetForm.value)"
    >
      Retrieve
    </button>
  </form>
