<div class="tile is-child box notification has-background-dark has-text-white no-padding">
  <div class="columns">
    <div class="column no-padding-column is-4">
      <figure class="image is-fullwidth">
        <img src="https://i.imgur.com/tdqpoEr.jpg">
      </figure>
    </div>

    <div class="column is-narrow">

      <div class="tile is-ancestor">
        <div class="tile is-vertical is-parent">
          <div class="tile is-child no-padding has-centered-content is-flex">
            <figure class="image is-128x128">
              <img src="https://i.imgur.com/gCrN6aI.jpg">
            </figure>
          </div>
          <div class="tile is-child no-padding has-centered-content is-flex">
            <div class="subtitle is-4 has-text-white">The Gap - Aalborg</div>
          </div>
          <div class="tile is-child no-padding has-centered-content is-flex">
            <h3 class="has-text">
              <span class="icon"><i class="fa fa-map-marker-alt"></i></span>
              Jomfru Ane Gade 9, 9000 Aalborg
            </h3>
          </div>
          <div class="tile is-child no-padding has-centered-content is-flex">
            <div class="tags">
              <p class="tag">nightclub</p>
              <p class="tag">diskotek</p>
              <p class="tag">loud music</p>
            </div>
          </div>
          <div class="tile is-child no-padding has-centered-content is-flex">
            <h3 class="has-text">
              4.0
              <span class="icon"><i class="fa fa-star star-active"></i></span>
              <span class="icon"><i class="fa fa-star star-active"></i></span>
              <span class="icon"><i class="fa fa-star star-active"></i></span>
              <span class="icon"><i class="fa fa-star star-active"></i></span>
              <span class="icon"><i class="fa fa-star star-inactive"></i></span>
            </h3>
          </div>
        </div>
      </div>

    </div>
    <div class="column">
      <div class="divider">
        <div class="subtitle is-4 has-text-white has-text-left no-bottom-margin">Super Fedt Event navn</div>
        <h3 class="has-text-left">
          <span class="icon"><i class="fa fa-calendar"></i></span>
          September 6th, 2019 from 22:00 - 23:00
        </h3>
        <br>
        <h3 class="has-text-left">Her er der en meget lang desription. Her er der en meget lang desription. Her er der
          en meget lang desription. Her er der en meget lang desription. </h3>
        <br>
        <h3 class="has-text-left">
          <span class="icon"><i class="fas fa-music"></i></span>
          Rap | Hiphop | Jazz
        </h3>
        <h3 class="has-text-left">
          <span class="icon"><i class="fas fa-wind"></i></span>
          Underground
        </h3>
        <h3 class="has-text-left">
          <span class="icon"><i class="fas fa-mask"></i></span>
          Elegant
        </h3>
        <button class="button is-primary is-pulled-right">Free</button>
      </div>


    </div>

  </div>






</div>
