.header {
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
}

.row {
  text-align: center;
  margin-top: 10px;
}

.error {
  color: red;
}

.form-control {
  margin: 5px;
}

.remove-bottom-margin {
  margin-bottom: 0 !important;
}

select:required:invalid {
  color: #7E7E9B !important;
}

.column.allign-bottom {
  margin-top: auto !important;
}

.input {
  height: 3em;
  padding: calc(0.875em - 1px) calc(1em - 1px);
}

.is-full-heigth {
  height: 100% !important;
}

.tile.is-parent {
  padding: 0.25rem !important;
}

.tile.is-vertical > .tile.is-child:not(:last-child) {
  margin-bottom: 0.50rem !important;
}

a.tag{
  text-decoration: none !important;
}

a.tag.is-primary:hover {
  background-color: #6294E7 !important;
}

a.tag:hover {
  background-color: #9A9AB2 !important;
}

.has-padding-left {
  padding-left: 25px;
}

.has-no-bottom-margin {
  margin-bottom: 0 !important;
}

.checkbox:hover, .radio:hover {
  color: #6294E7 !important;
}

.big-tag {
  height: 3em;
  padding: calc(0.875em - 1px) calc(1em - 1px);
}

input:focus + .fas {
  color: palegreen !important;
}
