.button {
    margin-right: 1rem;
}

.star-active {
    color: #FED88F;
}

.star-inactive {
    color: #9A9AB2;
}

.level-item {
  margin-right: 5px;
}

.button.is-darker {
  background-color: #1B1B38;
  border-color: transparent;
  color: #fff;
}

.button.is-darker:hover {
  background-color: #5C5C80;
}

.modal:hover {
  cursor: default;
}

