<div class="columns">
  <div class="column">
    <div class="notification is-dark">
      <div class="has-text-white">
        <h2 class="subtitle">This system is a result of a 7th semester project by group SW703E19 at Aalborg University:</h2>
      </div>
      <br>
      <br>
      <br>
      <div class="columns is-multiline">
        <div class="column is-4">
          <h5 class="subtitle has-text-grey-light">Software Developer</h5>
          <h1 class="title">Alexander Haarbye Jensen</h1>
          <h2 class="subtitle">ajen16@student.aau.dk</h2>
        </div>
        <div class="column is-4">
          <h5 class="subtitle has-text-grey-light">Software Developer</h5>
          <h1 class="title">Jonas Grann Alsen </h1>
          <h2 class="subtitle">jalsen15@student.aau.dk</h2>
        </div>
        <div class="column is-4">
          <h5 class="subtitle has-text-grey-light">Software Developer</h5>
          <h1 class="title">Magnus Tolderlund Boisen </h1>
          <h2 class="subtitle">mboise16@student.aau.dk</h2>
        </div>
        <div class="column is-4">
          <h5 class="subtitle has-text-grey-light">Software Developer</h5>
          <h1 class="title">Rasmus Egholm Nielsen </h1>
          <h2 class="subtitle">reni16@student.aau.dk</h2>
        </div>
        <div class="column is-4">
          <h5 class="subtitle has-text-grey-light">Software Developer</h5>
          <h1 class="title">Lukas Rønsholt </h1>
          <h2 class="subtitle">lransh16@student.aau.dk</h2>
        </div>
        <div class="column is-4">
          <h5 class="subtitle has-text-grey-light">Software Developer</h5>
          <h1 class="title">Lasse Lundbo </h1>
          <h2 class="subtitle">llun16@student.aau.dk</h2>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="has-text-white">
          <h2 class="subtitle">Group mail: sw703e19@cs.aau.dk</h2>
        </div>
    </div>
  </div>
</div>
