<!-- Header -->
<div class="hero-head">
  <header class="navbar is-info">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="#">
          <img src="../../../assets/images/logo.png" alt="Logo">
          &nbsp;&nbsp;<strong>EVENT</strong>FINDER
        </a>
        <span class="navbar-burger burger" data-target="navbarMenuHeroC">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenuHeroC" class="navbar-menu">
        <div class="navbar-end">
          <!-- Here we use a Request to check what route the current active is. If true: add 'is-active' to the class -->
          <a [routerLink]="['']" routerLinkActive="is-active" [routerLinkActiveOptions]="{ exact: true }" class="navbar-item">Home</a>
          <a *ngIf="!auth.loggedIn" [routerLink]="['/login']" routerLinkActive="is-active" class="navbar-item">Login</a>
          <a *ngIf="!auth.loggedIn" [routerLink]="['/register']" routerLinkActive="is-active" class="navbar-item">Register</a>
          <a *ngIf="auth.loggedIn" [routerLink]="['/user']" routerLinkActive="is-active" class="navbar-item">Profile</a>
          <a *ngIf="auth.loggedIn" (click)="auth.logout()" class="navbar-item">Logout</a>
        </div>
      </div>
    </div>
  </header>
</div>
