@charset "utf-8";

// Colors.
$greyedOut: #9A9AB2;
$accent: #6D9CE9;
$purple: #5C5C80;
$purpleDark: #323259;
$purpleDarker: #1B1B38;
$white : #FFFFFF;

// Update Bulma's global variables
$warning: #FED88F;
$info: #A6DAEF;
$confirm: #BFE2CA;
$danger: #F4858E;
$primary: $accent;
$dark: $purpleDark;

// Update some of Bulma's component variables
$body-background-color: $purple;
$pre-background: $purple;
$background: $purple;

// notification
$notification-padding: 1.25rem 1.5rem 1.25rem 1.5rem;

// Input.
$control-border-width: 2px;
$input-border-color: $purpleDark;
$input-shadow: none;
$border-hover: $accent;

// Navbar Dropdown
$navbar-dropdown-background-color: $purpleDarker;
$navbar-dropdown-border-top: 4px solid #323232;

// Dropdown Menu
$dropdown-content-background-color: $purpleDarker;
$dropdown-item-hover-background-color: $purpleDark;
$dropdown-item-active-background-color: $primary;
$dropdown-item-active-color: $white;
$dropdown-item-color: $white;
$dropdown-item-hover-color: $white;

// Modal
$modal-card-body-background-color: $purple;
$modal-card-head-border-bottom: 0px;
$modal-card-foot-border-top: 0px;
$modal-card-title-color: $white;


.input, .textarea, .select select {
  background-color: $purple !important;
  color: $white !important; }

.input::-moz-placeholder, .textarea::-moz-placeholder, .select select::-moz-placeholder {
  color: $greyedOut !important; }
.input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder, .select select::-webkit-input-placeholder {
  color:$greyedOut !important; }
.input:-moz-placeholder, .textarea:-moz-placeholder, .select select:-moz-placeholder {
  color: $greyedOut !important; }
.input:-ms-input-placeholder, .textarea:-ms-input-placeholder, .select select:-ms-input-placeholder {
  color: $greyedOut !important; }

// Import bulma after settings variables.
@import "../../../node_modules/bulma/bulma.sass";

// Import only what you need from Bulma
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/elements/_all.sass";
@import "../../../node_modules/bulma/sass/form/_all.sass";
@import "../../../node_modules/bulma/sass/components/_all.sass";
@import "../../../node_modules/bulma/sass/layout/_all.sass";
