@charset "utf-8";

// Colors.
$greyedOut: #9A9AB2;
$accent: #507FCC;
$purple: #5C5C80;
$purpleDark: #323259;
$purpleDarker: #1B1B38;

// Update Bulma's global variables
$warning: #FED88F;
$info: #A6DAEF;
$confirm: #BFE2CA;
$danger: #F4858E;
$primary: $accent;

// Update some of Bulma's component variables
$body-background-color: $purple;
$pre-background: $purple;
$background: $purple;

// Input.
$control-border-width: 2px;
$input-border-color: $purpleDark;
$input-shadow: none;

// Import bulma after settings variables.
@import "../../../node_modules/bulma/bulma.sass";

// Import only what you need from Bulma
@import "../../../node_modules/bulma/sass/utilities/_all.sass";
@import "../../../node_modules/bulma/sass/base/_all.sass";
@import "../../../node_modules/bulma/sass/elements/_all.sass";
@import "../../../node_modules/bulma/sass/form/_all.sass";
@import "../../../node_modules/bulma/sass/components/_all.sass";
@import "../../../node_modules/bulma/sass/layout/_all.sass";
