<ng-template [ngIf]="loading" [ngIfElse]="doneLoading">
  <i class="fas fa-circle-notch fa-spin fa-5x has-text-white"></i>
</ng-template>

<ng-template #doneLoading>
  <div class="tile box is-child notification has-background-dark tile-margin">
    <h1 class="title has-text-white is-6">Event statistics</h1>

    <nav class="level">
        <div class="level-item has-text-centered">
            <div class="field">
                <div class="control">
                    <p class="help has-text-white">Select event</p>
                    <div class="select is-rounded is-small">
                    <select (change)="onEventSelect()" [(ngModel)]="selectedEvent">
                        <option *ngFor="let event of orgEventList | keyvalue" value={{event.value.uid}}>
                            {{event.value.title}}
                        </option>
                    </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div class="field">
                <div class="control">
                    <p class="help has-text-white">Select data</p>
                    <div class="select is-rounded is-small">
                    <select (change)="onEventSelect()" [(ngModel)]="selectedData">
                        <option value={{graphData.UserPreference}}>User preference</option>
                        <option value={{graphData.Rating}}>Rating</option>
                        <option value={{graphData.Gender}}>Gender segregation</option>
                        <option value={{graphData.Geo}}>Customer geographic segmentation</option>
                    </select>
                    </div>
                </div>
            </div>
        </div>
    </nav>

  <div class="chart">
      <canvas baseChart #currentChart="base-chart" [data]="currentChartData" [labels]="currentChartLabels" [chartType]="currentChartType"
        [options]="pieChartOptions" [colors]="currentChartColors" [legend]="currentChartLegend">
      </canvas>
    </div>
  </div>

  <!--
  <div class="tile box is-child notification has-background-dark tile-margin">
    <h1 class="title has-text-white is-6">Overall rating</h1>
    <div class="chart">
      <canvas baseChart [data]="overallRatingPieChartData" [labels]="overallRatingPieChartLabels"
        [chartType]="overallRatingPieChartType" [options]="pieChartOptions" [colors]="overallRatingPieChartColors" [legend]="overallRatingPieChartLegend">
      </canvas>
    </div>
  </div>

  <div class="tile box is-child notification has-background-dark tile-margin">
    <h1 class="title has-text-white is-6">Overall customer geographic segmentation</h1>
    <div class="chart">
        <canvas baseChart [data]="geoPieChartData" [labels]="geoPieChartLabels"
          [chartType]="geoPieChartType" [options]="pieChartOptions" [colors]="geoPieChartColors" [legend]="geoPieChartLegend">
        </canvas>
    </div>
  </div>
  -->
</ng-template>
