<h1 class="has-text-white is-size-1 has-text-weight-light"><b>Welcome to EVENT</b>FINDER</h1>

<p class="has-text-white spacing">
  find amazing & super interesting & funny events near you today!
</p>

<div class="buttons is-centered">
  <a [routerLink]="['/events']" class="button is-primary">See available events ></a>
</div>

<div *ngIf="feedback.length > 0">
  <div *ngFor="let item of feedback">
    <app-feedback-tile [showMetadata]="true" [feedback]="item"></app-feedback-tile>
  </div>
</div>
