<h1 class="has-text-white is-size-1 has-text-weight-light"><b>Welcome to EVENT</b>FINDER</h1>

<p class="has-text-white spacing">
  Støt Magnus' kamp med kræft, send din donation til +45 42653939 på mobilepay idag
</p>

<div class="control has-icons-left has-icons-right input-search">
  <input [(ngModel)]="searchString" (keydown.enter)="search()" class="input is-rounded search-input-width" type="text"
    placeholder="Search for events"/>
  <span class="icon is-small is-left">
    <i class="fas fa-search"></i>
  </span>
</div>
<br>
<div class="buttons is-centered">
  <a class="button is-primary" (click)="search()">Search</a>
</div>
