.image-fill {
    display:flex;
    flex-direction:column;
}

.banner-background {
    background-image: url('/../assets/images/testbanner.png');
    height: auto;
    width: 100%;
    background-color: #323259;
    background-size: fill;
    background-position: top;
    background-repeat: no-repeat;
    // position: relative;
}

.second-layer {
    position: absolute;
    right: 1%;
    width: 98%;
    height: auto;
    top: 300px;
    background-color: #5C5C80;
}

.content {
    margin-top: 100px;
}

.image-logo {
    justify-content: center;
    position: absolute;
    top: 220px;
    left: 45%;
}

.title {
  font-size: 4vh;
}

.small-text {
    font-size: 1.5vh;
}

.panel-size {
    width: 1400px;
    height: auto;
}

.top-content {
    align-content: center;
    margin: auto;
}

// Banner
.banner-size {
    height: 100em;
    width: auto;
}

.delete {
    position: absolute;
    top: 1%;
    right: 1%;
}

// Left event content

// Right event content

.map-size {
    width: 55vh;
}

// Bottom event content

// Event

.event-data{
    padding-left: 3vh;
    padding-right: 3vh;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #121118;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5C5C80;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #7272A4;
}


// // Invisble scrollbar
// ::-webkit-scrollbar {
//     display: none;
// }


agm-map {
    height: 300px;
  }
