<div class="modal is-active">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Adjust Profile Picture</p>
      <button class="delete" aria-label="close" (click)="cancel()"></button>
    </header>
    <section class="modal-card-body">
      <div class="img-container">
        <img #image [src]="imageSource" crossorigin>
      </div>
    </section>
    <footer class="modal-card-foot">
        <div class="columns is-centered">
          <div class="column is-full">
              <button class="button is-primary is-rounded is-fullwidth" (click)="shared.showCropper(false)">Confirm</button>
          </div>
        </div>
    </footer>
  </div>
</div>
