.no-side-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.input {
    background-color: #323259 !important;
}

agm-map{
  margin: 0px;
  height: 300px;
  width: auto;
}

.filterbox {
  margin: 0px;
  padding: 5px;
}

.subtitle-margin {
  margin-bottom: 12px;
}

.filter-column {
  margin-top: 300px;
}


.sticky{
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 10;
}

.search-input-width {
  max-width: 30%;
}

.input-search {
    position: absolute;
    width: 100%;
    margin-left: 0.5%;
    transform: translateY(-110%);
}

p.tag{
  text-decoration: none !important;
  background-color: #6294E7 !important;
  color: white;
  margin-left: 5px;
  cursor: pointer;
}

p.tag:hover {
  background-color: #3273dc !important;
}

.tags-margin {
  margin-top: 4px;
}

mat-slider {
  width: 100% !important;
}
