.no-side-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.input {
    background-color: #323259 !important;
}

agm-map{
  margin: 0px;
  height: 300px;
  width: auto;
}

.filterbox {
  margin: 0px;
  padding: 5px;
}

.subtitle-margin {
  margin-bottom: 12px;
}

.filter-column {
  margin-top: 300px;
}


.sticky{
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 10;
}

.search-input-width {
  max-width: 30%;
}

.input-search {
    position: absolute;
    width: 100%;
    margin-left: 0.5%;
    transform: translateY(-110%);
}
