<div *ngIf="org">
  <div class="notification has-background-dark has-text-white top">
    <div class="columns is-multiline">
      <div class="column is-narrow">
        <figure class="image is-128x128" *ngIf="imgUrl">
          <img class="is-rounded" [src]="imgUrl">
        </figure>
      </div>
      <div class="column">
        <div class="columns is-gapless is-multiline">
          <div class="column is-5">
            <h1 class="title has-text-left is-marginless">
              {{ org.organization }}
              <a class="button is-small is-primary is-rounded">
                <span>Edit</span>
              </a>
            </h1>
            <div class="column is-paddingless">
              <div class="columns stars has-text-white is-vcentered">
                <div class="column is-narrow">
                    <p class="has-text-white">{{ org.rating | number:'0.1-1' }}</p>
                </div>
                <div *ngFor="let star of orgRating()">
                  <div class="column is-paddingless is-narrow">
                    <span class="icon is-small star">
                      <div *ngIf="star == Stars.Half; else elseBlock">
                        <i class="fa fa-star-half-alt star-active" aria-hidden="true"></i>
                      </div>
                      <ng-template #elseBlock>
                        <i class="fa fa-star" aria-hidden="true"
                          [ngClass]="{'star-active': star == Stars.Full}"
                          [ngClass]="{'star-inactive': star == Stars.Empty}"></i>
                      </ng-template>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="columns is-gapless is-multiline">
              <div class="column">
                <h3 class="has-text-left">
                  <span class="icon"><i class="fa fa-envelope"></i></span>
                  {{ org.email }}
                </h3>
              </div>
              <div class="column">
                <h3 class="has-text-left">
                  <span class="icon"><i class="fa fa-mobile-alt"></i></span>
                  {{ org.phone }}
                </h3>
              </div>
            </div>
          </div>
          <div class="column has-text-right">
            <div class="dropdown is-right is-hoverable">
              <div class="dropdown-trigger">
                <button class="button is-rounded is-primary" aria-haspopup="true" aria-controls="profile-settings">
                  <span class="icon is-small">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                  </span>
                </button>
              </div>
              <div class="dropdown-menu" id="profile-settings" role="menu">
                <div class="dropdown-content">
                  <a class="dropdown-item">
                    <span class="icon"> <i class="fa fa-cog"></i></span>
                    Notification Settings</a>
                  <a class="dropdown-item">
                    <span class="icon"> <i class="fa fa-cog"></i></span>
                    Notification Settings</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="columns is-gapless">
    <div class="column is-2">
      <div class="notification bottom-left has-background-dark">
        <hr>
        <aside class="menu has-text-white">
          <ul class="menu-list">
            <li><a [ngClass]="((menuTabObs | async) == menuTabs.Profile) ? 'is-active' : ''" class="no-decoration"
                (click)="onMenuClick(menuTabs.Profile)">Profile</a></li>
            <li><a [ngClass]="((menuTabObs | async) == menuTabs.Activity) ? 'is-active' : ''" class="no-decoration"
                (click)="onMenuClick(menuTabs.Activity)">Activity</a></li>
            <li><a [ngClass]="((menuTabObs | async) == menuTabs.Events) ? 'is-active' : ''" class="no-decoration"
                (click)="onMenuClick(menuTabs.Events)">
                <nav class="level">
                  <div class="level-item">
                    <span>Events</span>
                  </div>
                  <div class="level-right">
                    <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </div>
                </nav>
              </a></li>
            <li *ngIf="(menuTabObs | async) == menuTabs.Events"><a
                [ngClass]="((subTabObs | async) == menuTabs.AddEvent) ? 'submenu-is-active' : 'submenu-not-active'"
                class="no-decoration" (click)="onSubMenuClick(menuTabs.AddEvent)">Add Event</a></li>
            <li><a [ngClass]="((menuTabObs | async) == menuTabs.Feedback) ? 'is-active' : ''" class="no-decoration"
                (click)="onMenuClick(menuTabs.Feedback)">Feedback</a></li>
            <li><a [ngClass]="((menuTabObs | async) == menuTabs.Statistics) ? 'is-active' : ''" class="no-decoration"
              (click)="onMenuClick(menuTabs.Statistics)">Statistics</a></li>
            <li><a [ngClass]="((menuTabObs | async) == menuTabs.Tickets) ? 'is-active' : ''" class="no-decoration"
                (click)="onMenuClick(menuTabs.Tickets)">Tickets</a></li>
            <li><a [ngClass]="((menuTabObs | async) == menuTabs.Staff) ? 'is-active' : ''" class="no-decoration"
              (click)="onMenuClick(menuTabs.Staff)">Staff</a></li>
            <li><a [ngClass]="((menuTabObs | async) == menuTabs.Preferences) ? 'is-active' : ''" class="no-decoration"
                (click)="onMenuClick(menuTabs.Preferences)">Preferences</a></li>
          </ul>
        </aside>
      </div>
    </div>

    <!-- Main content is inserted here -->
    <div class="column">
      <div class="notification bottom-right has-background-darker">
        <div [ngSwitch]="(currentMenuTabObs | async)">
          <app-organization-info *ngSwitchCase="menuTabs.Profile" [user]="org"></app-organization-info>
          <app-event-form *ngSwitchCase="menuTabs.AddEvent"></app-event-form>
          <app-organization-connections *ngSwitchCase="menuTabs.Staff"></app-organization-connections>
          <app-organization-event-list *ngSwitchCase="menuTabs.Events" [user]="org"></app-organization-event-list>
          <app-feedback-list-tile *ngSwitchCase="menuTabs.Feedback" [organization]="org"></app-feedback-list-tile>
          <app-statistics *ngSwitchCase="menuTabs.Statistics"></app-statistics>
        </div>
      </div>
    </div>

  </div>

</div>
