.input-field-background {
  background-color: #323259 !important;
}

.event-finder-logo{
  font-size: 20px;
}

.round-corners {
  border-radius: 25px;
}

.remember-me {
  margin-left: 10px;
}

.forgot-password {
  margin-right: 10px;
}

.not-member {
  margin-bottom: 2px;
}

.bottom-margin-login {
  margin-bottom: 12px;
}
