.box {
    background-color: #323259 !important;
    color: white;
}

.box strong {
    color: white;
}

.divider {
    border-left: 2px solid #5C5C80;
    padding-left: 15px;
    padding-right: 15px;
}

.star-active {
    color: #FED88F;
}

.star-inactive {
    color: #9A9AB2;
}

.level-item {
    margin-right: 5px;
}

.level {
  margin-bottom: 2px;
}

.timestamp {
  color: #5C5C80;
}

.link {
  color: white;
  text-decoration-line: underline;
}
