<div class="tile is-ancestor">
  <div class="tile is-parent">
    <div class="tile is-child notification has-background-dark">
      <div class="columns is-multiline">
        <div class="column">
            <h1 class="title has-text-left has-text-white is-6">
                Personal Information
            </h1>
        </div>
        <div class="column has-text-right">
            <a>
              <span class="icon has-text-white"><i class="fa fa-pen"></i></span>
            </a>
        </div>
      </div>
      <div class="columns has-text-left has-text-white">
        <div class="column">
          <ul>
            <li>
              <p>
                <span class="icon"><i class="fas fa-venus-mars"></i></span>Sex:
                {{ displaySex() }}
              </p>
            </li>
            <li>
              <p>
                <span class="icon"><i class="fas fa-home"></i></span>City:
                {{ user.zip }} {{ user.city }}
              </p>
            </li>
            <li>
              <p>
                <span class="icon"><i class="fas fa-globe"></i></span>Country:
                {{ user.country }}
              </p>
            </li>
          </ul>
        </div>
        <div class="column">
          <p>
            <span class="icon"><i class="fas fa-birthday-cake"></i></span
            >Birthday: {{ displayBirthdate() }}
          </p>
          <p>
            <span class="icon"><i class="fas fa-mobile-alt"></i></span>Phone:
            {{ user.phone }}
          </p>
          <p>
            <span class="icon"><i class="fas fa-at"></i></span>Mail:
            {{ user.email }}
          </p>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <div class="tile is-4 is-vertical is-parent">
    <div class="tile is-child notification has-background-dark">
        <article class="message">
            <div class="message-header">
              <p>Recomended Event</p>
              <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body has-background-gray has-text-white">
              <p>The Gap: New Years Eve</p>
            </div>
          </article>
          <article class="message">
              <div class="message-header">
                <p>Event starting soon</p>
                <button class="delete" aria-label="delete"></button>
              </div>
              <div class="message-body has-background-gray has-text-white">
                <p>L.O.C Red Light is starting in 2 days, 4 hours and 3 seconds!</p>
              </div>
            </article>
    </div>
  </div>
</div>
